{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4" style="color: #E50046;">Frequently Asked Questions</h1>
    <div class="accordion" id="faqAccordion">
        {% for faq in faqs %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" style="background-color: #C7DB9C; color: #FFF0BD;">
                        {{ faq.question }}
                    </button>
                </h2>
                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body" style="background-color: #FFF0BD;">
                        {{ faq.answer }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}